:root {
  /* Colors */
  --background-color: #ffffff;
  --text-color: #11121a;
  --line-color: #42434a;
  --hover-color: #222533;
  --primary-color: #e6e6ef;
  --secondary-color: #5c5fbb;
  --secondary-color-light: #b0b3c1;
  --error-color: #dc2626;
  --success-color: #22c55e;
  
  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  
  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
} 