.sidebar {
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 210px;
}

.sidebar-header {
  padding: 13.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-logo {
  width: 32px;
  height: 32px;
  border-radius: 70%;
}

.sidebar-menu {
  padding: 20px 0;
}

.menu-item {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 10px;
}

.menu-item:hover,
.menu-item.active {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

.menu-item svg {
  font-size: var(--icon-size);
}

.sidebar-footer {
  margin-top: auto;
}

.sign-out-link {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
}

.sign-out-link:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar-header h2,
  .menu-item span,
  .sign-out-link span {
    display: none;
  }

  .menu-item,
  .sign-out-link {
    padding: 15px;
    justify-content: center;
  }
}
